* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: #e5e5e5;
}

/* Typography */

h1,
h2 {
  font-family: 'Frank Ruhl Libre', serif;
  margin: 0;
}

p {
  font-size: 1.4rem;
}

img {
  max-width: 100%;
}

.accent-text {
  color: #fff;
  font-size: 1.4rem;
}

.header-title {
  color: #000;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  color: #fff;
  font-size: 3.2rem;
}

.header-section-text {
  font-size: 1.1rem;
}

.header-section-text,
.header-subtitle {
  margin: 0;
}

/* Header */

.header-main {
  background-color: #c7ddea;
  background-image: url(img/family.png);
  background-size: auto 280px;
  background-repeat: no-repeat;
  background-position: bottom 0 right 1rem;
  grid-column: 1 / 4;
  grid-row: 1 / span 2;
  padding: 6rem 10rem;
}

.learn-more {
  background-color: #f17949;
  grid-column: 4 / -1;
  grid-row: 1 / span 1;
}

.join {
  background-color: #ffb939;
  grid-column: 4 / -1;
}

/* NAV  */

.navigation {
  padding: 3rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

.nav-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  text-align: center;
}

.nav-item:nth-child(1) {
  grid-column: 2;
}

.nav-item-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #8d8d8d;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: #000;
  font-weight: 900;
}

.active {
  color: #000;
  font-weight: 900;
}

.header-text {
  width: 260px;
  line-height: 1.6;
}

/*  Buttons */

.btn {
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  box-shadow: rgba(26, 25, 25, 0.35) 0px 1px 1px;
}

.btn:hover,
.btn:focus {
  background-color: #fad595;
  color: #777574;
}

.btn-header {
  margin-top: 5em;
}

/* Layout */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 275px 275px;
  margin: 0 auto;
  max-width: 1000px;
}

/* Main section */

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(#a9a19e 50%, #fab131 50%);
}

.cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10rem;
  margin-bottom: 6rem;
}

.cta-title,
.about-title {
  font-size: 4.5rem;
  color: #fff;
  width: 320px;
  line-height: 1;
  margin-bottom: 3rem;
}

.cta-second {
  width: 280px;
  line-height: 1.6;
}

/* Cards section */

.cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.card {
  width: 256px;
  min-height: 308px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
}

.card-title {
  font-size: 1.6rem;
  font-family: 'Frank Ruhl Libre', serif;
  color: #000;
  font-weight: 700;
}

.card-text {
  color: rgba(0, 0, 0, 0.4);
  padding: 0 2rem 3rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.card-img-container {
  width: 23.6rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: -2rem;
  border-radius: 6px;
}

.card-img {
  max-width: 100px;
}

.card-child {
  background-color: #c7ddea;
  background-image: url(img/child.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.card-adult {
  background-color: #fab131;
  background-image: url(img/adult.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.card-old {
  background-color: #f17949;
  background-image: url(img/old.png);
  background-repeat: no-repeat;
  background-position: center bottom -2rem;
}

/* About us section */

.about-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 450px;
  padding: 5rem 0 8rem 0;
}

/* How it works section */

.how {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 340px 340px;
  background-color: #fff;
}

.how-title {
  font-size: 4.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.how-number {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3.5rem;
  align-self: flex-start;
  margin-top: 0;
}

.how-box-text {
  margin-top: 5rem;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  grid-column: span 2;
}

.how-box-1 {
  grid-column: 1 / span 2;
  background-color: #c7ddea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-box-3 {
  background-color: #ebebeb;
}

.how-box-5 {
  background-color: #f17949;
}

/* Footer section */

.footer {
  height: 340px;
  width: 1000px;
  background-color: #777574;
  margin: 0 auto;
}

.go-up {
  background-color: #a9a19e;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.go-up-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.icon-chevron {
  margin-top: 0;
}

/* Contact section */

.header-contact {
  background-color: #c7ddea;
  background-image: url(img/man-and-child.png);
  background-size: auto 280px;
  background-repeat: no-repeat;
  background-position: bottom 0 right 8rem;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
  padding: 6rem 10rem;
}

.contact-title {
  margin-top: 10rem;
  text-align: center;
}

.container-contact {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 170px 170px;
  margin: 0 auto;
  max-width: 1000px;
}

/* Form section */

.form {
  background-color: #a9a19e;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 544px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

label {
  font-weight: 700;
  margin-top: 3rem;
}

input,
textarea {
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: 0;
  border-radius: 2px;
}

textarea {
  resize: none;
  height: 166px;
}

.btn-form {
  margin-top: 3rem;
  align-self: flex-end;
}

.form-cta {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 6rem;
  padding-top: 8rem;
}

/* Map section */

.map {
  position: relative;
  min-height: 400px;
  background-image: url(img/map-contact.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  background-color: #fab131;
  max-width: 325px;
  color: #fff;
  padding: 2rem 2rem 6rem 2rem;
  position: absolute;
  top: 4rem;
  left: 8.5rem;
}

.map-title {
  margin: 0;
}
